body{
    position: relative;
    background: url(https://i.pinimg.com/originals/ee/12/a9/ee12a906d097550141060360ccc54fd2.jpg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 200px;


    color: rgb(255, 255, 255);
    

}
